<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row" style="margin: 20px;">
          <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-8" src="..." alt="" width="500" height="350">
            <h1 class="display-5 fw-bold">Fashion</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, maiores laborum, quibusdam perferendis modi saepe autem placeat exercitationem in voluptate quia molestiae? Nam cum quidem modi dolores expedita consequuntur nihil inventore, quae nesciunt corrupti reprehenderit eligendi optio vitae alias recusandae non explicabo ipsam quis delectus? Explicabo necessitatibus maiores sequi? Itaque nobis ipsam laborum porro, veritatis et, optio dolorem doloribus quaerat assumenda quas laudantium ut fuga perferendis? Magnam harum voluptatibus voluptatem distinctio sequi, est, saepe optio ex debitis explicabo mollitia omnis accusamus doloremque quae architecto similique quasi modi officiis incidunt. Necessitatibus repellendus dolor hic quaerat eveniet minus quas at soluta ex?</p>
            </div>
          </div>
        
        </div>
      </div>
</body>
</html>