<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br>
  <div class="container">
    <div class="row">
      <h1>NVC SHOP</h1><p>New Fashion</p>
      <hr>
    </div>
    <div class="row">
      <div class="card" style="width: 68.5rem; margin: 20px;">
        <br>
        <img src="https://images.pexels.com/photos/5709661/pexels-photo-5709661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top w-100 h-100" alt="...">
        <br>
      </div>
    </div>

    <div class="row">
      <div class="card" style="width: 33rem; margin: 20px;">
        <br>
        <img src="https://images.pexels.com/photos/6069079/pexels-photo-6069079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top w-100 h-100" alt="...">
        <br>
      </div>
      <div class="card" style="width: 33rem; margin: 20px;">
        <br>
        <img src="https://images.pexels.com/photos/994517/pexels-photo-994517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top w-100 h-100" alt="...">
        <br>
      </div>

    </div>
  </div>

  
</body>
</html>